RewriteBase /
ErrorDocument 404 /tuinmueblecolombia/config/Error/404.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]


